body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
  background-image:url(../assets/bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 12px 24px;
  border-radius: 12px;
  border: white solid 2px;
  background-color: white;
}
#main p {
  margin: 0;
}
#H1 {
  margin: 0;
}
#p {
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
#matahari {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid black;
  height: 120px;
  width: 120px;
  background-color: white;
}

@keyframes putar {
  from{
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ray {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 30px;
  background-color: white;
}
.sun {
  animation: putar 15s linear infinite;
  position: relative;
  width: 120px;
  height: 120px;
}
.top {
  transform: translate(-50%, -50%) rotate(0deg) translateY(-90px);
}
.right {
  transform: translate(-50%, -50%) rotate(90deg) translateY(-90px);
}
.left {
  transform: translate(-50%, -50%) rotate(270deg) translateY(-90px);
}
.bottom {
  transform: translate(-50%, -50%) rotate(180deg) translateY(-90px);
}
